body{
    background-color: purple;
}

button{
    color: rgb(255, 127, 127);
}

h1{
    flex-wrap: nowrap;
}

#Escalação{
    color: blue;
    background-color: black;
    margin: 11%;
    border-radius: 10%;
    justify-content: flex-start;
    padding-right: 0%;
}